{% extends 'layout.html' %}
{% load static %}

{% block pageTitle %}
PBJ Service Co
{% endblock %}

{% block content %}
  <div class="flex-col ai-center gap-6">
    {% include 'components/horizontal-links.html' %}
    <div class="px-6 py-2 w-100 secondary-700 b-sm pill flex jc-between ai-center">
      <span class="text-md flex ai-center text-primary">Call Us @<span class="bold text-light ts-dark-2 text-lg ms-1">732-443-0550</span></span>
      <span class="bold text-primary text-md">Ocean & Monmouth County</span>
    </div>
    <h1 class="ts-dark-2 text-accent text-center">Dependability At Your Doorstep</h1>
    <p class="text-primary ls-12 lh-15">
      At <span class="italic bold">PBJ Service</span>, we strive to bring our customers a hassle-free service experience. We show up on time, we complete the job, and we leave no mess behind for you to deal with!
    </p>
    <h2 class="ts-secondary-2 text-primary w-100">Our Services</h2>
    {% for details in pages %}
    <section class="white b-sm py-2 px-4 shadow-sm flex-col">
      <span class="ts-dark-2 text-accent text-center text-3xl bold ls-10">{{ details.title }}</span>
      <p class="secondary-700 text-primary bold mx-10 my-6 p-8 b-sm br-2 shadow-sm">{{ details.blob }}</p>
      <ul class="flex-col gap-4 m-auto mb-4">
        {% for item in details.services %}
          <li class="mx-5">
            {{ item.title }}
            {% if item.caption  %}
              <br />
              <span class="italic text-sm text-primary">{{ item.caption }}</span>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
      {% include 'components/contact-form.html' %}
    </section>
    {% endfor %}
    <script>
      useExpandingContactForm({
        // formId: [],
        serviceValue: [
          'pools',
          'assembly',
          'hauling',
          'cleanup',
          'etc'
        ]
      })
    </script>
  </div>
{% endblock %}