{% extends 'layout.html' %}
{% load static %}

{% block pageTitle %}
PBJ Pool Service
{% endblock %}

{% block content %}
<section class="flex-col gap-4 ai-center">
	<span class="ts-dark-2 text-accent text-3xl bold ls-10">Pool Maintenance</span>
	<p class="secondary-700 text-primary bold mx-10 my-6 p-8 b-sm br-2 shadow-sm">Expert service guaranteed to keep your summer fun a hassle free experience.</p>
	<ul class="flex-col gap-4 m-auto mb-4">
		<li class="mx-5">
			Opening & Closing
			<br />
			<span class="italic text-sm text-primary">Openings from only $35!</span>
		</li>
		<li class="mx-5">Weekly Maintenance</li>
		<li class="mx-5">Filter Repair</li>
	</ul>
	<!-- contact form -->
	<div class="flex-col ai-center gap-1">
		<div id="contact-btn" class="form-header btn-secondary btn flex jc-between ai-end">
			<span class="bold text-xl text-light ts-dark-2">
				Contact Us
			</span>
			<span id='contact-close'>Close</span>
		</div>
		<form class="h-0 of-hidden trans-h flex-col gap-3">
			<div class="flex-col mt-2">
				<label class="text-sm bold text-primary" for="form-name">Your Name</label>
				<input type="text" id="form-name" name="name">
			</div>
			<div class="flex-col">
				<label class="text-sm bold text-primary" for="form-phone">Phone Number</label>
				<input type="text" name="phone" id="form-phone">
			</div>
			<div class="flex-col">
				<label class="text-sm bold text-primary" for="form-email">Email Address</label>
				<input type="text" name="email" id="form-email">
			</div>
			<div class="flex-col">
				<label class="text-sm bold text-primary" for="form-service">Service Type</label>
				<select id="form-service" name="service" class="p-2 bold b-sm pill">
					<option>Pool Maintenance & Repair</option>
					<option>Furniture Assembly</option>
					<option>Delivery & Removal</option>
					<option>Yard & Gutter Cleanup</option>
					<option>Other</option>
				</select>
			</div>
			<div class="flex-col">
				<label class="text-sm bold text-primary" for="form-message">Questions and comments</label>
				<textarea name="message" id="form-message" cols="30" rows="10"></textarea>
			</div>
			<button class="btn-accent text-xl m-auto px-6 px-2" type="submit">Send</button>
		</form>
		<p class="m-auto text-sm text-accent mt-4 bold italic">
			We will happily get back to you as soon as possible.
		</p>
	</div>
</section>
<script>
	// GET BUTTON
	const btn = document.getElementById('contact-btn')
	if (btn) {
		// HIDE CLOSE LINK
		const close = btn.querySelector('#contact-close') || document.createElement('span')
		if (!close.innerText) {
			close.innerText = 'Close'
			close.id = 'contact-close'
			btn.appendChild(close)
		}
		close.classList.toggle('d-none')
		btn.onclick = (e) => {
			close.classList.toggle('d-none')
			btn.classList.toggle('form-header-exp')
			const form = btn.parentNode.querySelector('form')
			if (form) {
				form.classList.toggle('h-0')
				form.onsubmit = (e) => {
					e.preventDefault()
					const data = new FormData(e.target)
					console.log(data)
				}
			}
		}
	}
</script>
{% endblock %}