{% extends 'layout.html' %}
{% load static %}

{% block pageTitle %}
PBJ Service Co
{% endblock %}

{% block content %}
  <div class="flex-col ai-center gap-6">
    <ul class="link-list-horizontal gap-4 text-sm bold">
      <li>
        <a href="" class="primary hover-accent">Delivery & Moving</a>
      </li>
      <li>
        <a href="" class="primary hover-accent">Furniture Assembly</a>
      </li>
      <li>
        <a href="" class="primary hover-accent">Pool Maintenance</a>
      </li>
      <li>
        <a href="" class="primary hover-accent">Yard & Gutter Cleanup</a>
      </li>
      <li>
        <a href="" class="primary hover-accent">You Name It</a>
      </li>
    </ul>
    <div class="px-6 py-2 w-100 secondary-700 b-sm pill flex jc-between ai-center">
      <span class="text-md flex ai-center text-primary">call us @<span class="bold text-light ts-dark-2 text-lg ms-1">732-443-0550</span></span>
      <span class="bold text-primary text-md">Ocean & Monmouth County</span>
    </div>
    <h1 class="ts-dark-2 text-accent text-center">Dependability At Your Doorstep</h1>
    <p class="text-primary ls-12 lh-15">
      At <span class="italic bold">PBJ Service</span>, we strive to bring our customers a hassle-free service experience. We show up on time, we complete the job, and we leave no mess behind for you to deal with!
    </p>
    <h2 class="ts-secondary-2 text-primary w-100">Our Services</h2>
    <section id="new-arrivals" class='white b-sm py-2 px-4 shadow-sm flex-col'>
      <h2 class="text-accent text-center underline">Pool Maintenance</h2>
      <p class="secondary-700 text-primary bold mx-10 my-6 p-8 b-sm br-2 shadow-sm">Expert service guaranteed to keep your summer fun a hassle free experience.</p>
      <ul class="flex-col gap-4 m-auto mb-4">
        <li class="mx-5">
          Opening & Closing
          <br />
          <span class="italic text-sm text-primary">Openings from only $35!</span>
        </li>
        <li class="mx-5">Weekly Maintenance</li>
        <li class="mx-5">Filter Repair</li>
      </ul>
      <button class="bold text-xl btn-secondary px-5 py-2 m-auto">Contact Us</button>
      <p class="m-auto text-sm text-accent mt-4 bold italic">We will happily get back to you as soon as possible.</p>
    </section>
  </div>
{% endblock %}