{% extends 'layout.html' %}
{% load static %}

{% block pageTitle %}
PBJ Pool Service
{% endblock %}

{% block content %}
<section class="flex-col gap-4 ai-center">
	<span class="ts-dark-2 text-accent text-3xl bold ls-10">Pool Maintenance</span>
	<p class="secondary-700 text-primary bold mx-10 my-6 p-8 b-sm br-2 shadow-sm">Expert service guaranteed to keep your summer fun a hassle free experience.</p>
	<ul class="flex-col gap-4 m-auto mb-4">
		<li class="mx-5">
			Opening & Closing
			<br />
			<span class="italic text-sm text-primary">Openings from only $35!</span>
		</li>
		<li class="mx-5">Weekly Maintenance</li>
		<li class="mx-5">Filter Repair</li>
	</ul>
	<!-- contact form -->
	<div class="flex-col ai-center gap-1">
		<div id="contact-btn" class="form-header btn-secondary btn flex jc-between ai-end">
			<span class="bold text-xl text-light ts-dark-2">
				Contact Us
			</span>
			<!-- <span id='contact-close'>Close</span> -->
		</div>
		<form class="h-0 of-hidden trans-h" action="">
			Form
			<input type="text">
		</form>
		<p class="m-auto text-sm text-accent mt-4 bold italic">
			We will happily get back to you as soon as possible.
		</p>
	</div>
</section>
<script>
	// GET BUTTON
	const btn = document.getElementById('contact-btn')
	if (btn) {
		// HIDE CLOSE LINK
		const close = btn.querySelector('contact-close') || document.createElement('span')
		if (!close.innerText) {
			close.innerText = 'Closed'
			btn.appendChild(close)
		}
		close.classList.toggle('d-none')
		btn.onclick = (e) => {
			btn.classList.toggle('form-header-exp')
			const form = btn.parentNode.querySelector('form')
			if (form) {
				form.classList.toggle('h-0')
			}
		}
	}
</script>
{% endblock %}