{% extends 'layout.html' %}
{% load static %}

{% block pageTitle %}
PBJ Assembly Service
{% endblock %}

{% block content %}
<section class="flex-col gap-4 ai-center">
	<span class="ts-dark-2 text-accent text-center text-3xl bold ls-10">Furniture & Equipment Assembly</span>
	<p class="secondary-700 text-primary bold mx-10 my-6 p-8 b-sm br-2 shadow-sm">Expert service guaranteed to keep your summer fun a hassle free experience.</p>
	<ul class="flex-col gap-4 m-auto mb-4">
		<li class="mx-5">
			Opening & Closing
			<br />
			<span class="italic text-sm text-primary">Openings from only $35!</span>
		</li>
		<li class="mx-5">Weekly Maintenance</li>
		<li class="mx-5">Filter Repair</li>
	</ul>
	{% include 'components/contact-form.html' %}
</section>
<script>
	useExpandingContactForm({
		serviceValue: 'assembly'
	})
</script>
{% endblock %}