{% load static %}

<div class="item-card flex-col br-2">
	<div class='relative'>
		<img src="{% static 'img/pbj.png' %}" class='item-img-thumb br-2 light' alt=""/>
		{% if item.price %}
			<span class="absolute price-bubble secondary-700 bold text-lg text-light">${{ item.price }}</span>
		{% endif %}
	</div>
	<div class='flex-col gap-1 m-auto p-2'>
		<span class="italic text-center text-sm">{{ item.name }}</span>
		<div class='flex ai-center m-auto gap-1'>
			<span class='text-center text-accent text-sm bold'>
				Stock: {{ item.stock }}
			</span>
			{% if item.is_recent %}
				<span class="primary text-xs bold text-light px-2 py-1 pill">Just Added</span>
			{% endif %}
		</div>
		<button class='btn-secondary bold m-auto px-3 py-1 shadow-sm'>View Details</button>
	</div>
</div>