{% extends "layout-empty.html" %}
{% load static %}

{% block pageTitle %}
Explore It All
{% endblock%}

{% block content %}
<div class="light-700 py-6 px-auto flex-col w-100 gap-4">
	<h1 class='w-75 max-w-900px text-center m-auto text-accent'>Discover Nature's Wonders with Us</h1>
	<p class='w-75 max-w-900px m-auto lh-15 ls-10 text-primary italic text-center text-md'>
		<span class='bold'>Adventure awaits!</span> Whether you're a seasoned explorer or new to outdoor escapades, we're here to accompany you on thrilling journeys into the heart of nature. Our mission is simple: to <span class='text-accent bold'>inspire and connect</span> through the wonders of the great outdoors. Join us as we embark on unforgettable adventures and create lasting memories together!
	</p>
	<button class="btn-accent px-10 py-4 text-xl m-auto bold">Explore Our Adventures</button>
</div>

<!-- <img src="{% static 'img/pbj.png' %}" alt="Logo" /> -->
{% endblock %}