{% extends "layout-empty.html" %}
{% load static %}

{% block pageTitle %}
Explore It All
{% endblock%}

{% block content %}
<div class="light-700 py-6 px-auto">
	<h1 class='w-100 text-center'>Explore The Beautiful World Around You</h1>
	<p class='text-secondary italic text-center text-sm mb-6'>
		You have arrived at your haven for an elevated lifestyle. Immerse yourself in a world that unites well-being, community, and sustainable living. Join us on this venture, where each stride leads to a life of fulfillment and celebration.
	</p>
</div>
	<div class="flex-col gap-4">
		<div class="flex b-sm m-auto">
			<div class='p-2 f-1 primary'>Desription</div>
			<div class='p-2 f-1 secondary'>Image</div>
		</div>
	</div>
	{% comment %} <img src="{% static 'img/pbj.png' %}" alt="Logo" /> {% endcomment %}
{% endblock %}