<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>
		{% block pageTitle %}Welcome{% endblock %} | Peak Bound Journeys {% block subPageTitle %}{% endblock %}
	</title>
	<link rel="stylesheet" href="{% static 'css/quiggle.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<script src="{% static 'js/forms.js' %}"></script>
</head>
<body>
	{% include 'components/navbar.html' with text=text %}
	<main>
		<div class='main-card'>
			{% block content %}
			No content.
			{% endblock %}
		</div>
	</main>
	{% include 'components/footer.html' with site=site links=links %}
	<script src="{% static 'js/main.js' %}"></script>
</body>
</html>