{% extends 'layout.html' %}
{% load static %}

{% block pageTitle %}
	Shop For Discounted Products
{% endblock %}

{% block content %}
	<h1 class="w-100 mb-4">Browse Products{% if searchBy %} by {{ searchBy }}{% endif %}</h1>
	<div class="item-grid gap-4">
		{% for item in page_obj %}
			{% include 'components/item-card.html' with item=item %}
		{% endfor %}
	</div>
	<div class="flex w-100 jc-between ai-center mt-4 text-center">
		<span class="italic text-accent text-xs">
			Viewing results {{ item_count.start }}-{{ item_count.end }} of {{ item_count.total }}
		</span>
		<div class="flex gap-2">
			<div class="pagination">
				<span class="step-links flex gap-1">
					{% if page_obj.has_previous %}
						<a class='page-arrow left-arrow' href="?page=1">
							<img src="{% static 'img/double-arrow.svg' %}" width='10' alt="">
						</a>
						<a class='page-arrow left-arrow' href="?page={{ page_obj.previous_page_number }}">
							<img src="{% static 'img/arrow.svg' %}" width='10' alt="">
						</a>
					{% endif %}

					<span class="current italic text-accent text-sm px-2">
							Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
					</span>

					{% if page_obj.has_next %}
						<a class='page-arrow' href="?page={{ page_obj.next_page_number }}">
							<img src="{% static 'img/arrow.svg' %}" width='10' alt="">
						</a>
						<a class='page-arrow' href="?page={{ page_obj.paginator.num_pages }}">
							<img src="{% static 'img/double-arrow.svg' %}" width='10' alt="">
						</a>
					{% endif %}
				</span>
			</div>
		</div>
	</div>
{% endblock %}