{% extends 'layout.html' %}
{% load static %}

{% block pageTitle %}
	{{ item.item_name }}
{% endblock %}

{% block content %}
	<div class='flex-col ai-start w-100'>
		<h1 class="">{{ item.item_name }}</h1>
		<span class='soft text-sm italic text-secondary'>
			Item Code: <span class='bold'>{{ item.item_code }}</span>
			{% if item.sku != item.item_code %}
				(SKU: {{ item.sku }})
			{% endif %}
		</span>
	</div>
	<div>{{ item.description }}</div>
	<button id='add-to-cart-button' value="{{ item.id }}">Add To Cart</button>
	<script>
		const addToCartButton = document.getElementById('add-to-cart-button')
		addToCartButton.onclick = (e) => {
			e.preventDefault()
			addToCart(e.target.value , 1)
		}
	</script>

{% endblock %}